.password-container {
  width: 90%;
  height: 5em;
  padding: 2vw;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.password-container input {
  width: 30vw;
  padding: 0.6em;
  border: 2px solid gray;
  background: #eee;
}

.password-container button {
  height: 3.8em;
  border: 2px solid gray;
  border-radius: 0 5px 5px 0;
  border-left: 1px solid transparent;
  outline: none;
  color: #e7624f;
  background-color: #fbc968;
  cursor: pointer;
}

.password-container button:hover {
  height: 3.7em;
  border: 2px solid gray;
  border-left: 1px solid transparent;
  outline: none;
  background: #fff;
  color: #e7624f;
}
