.detail-container {
  width: 90%;
  padding: 2em 1vw;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px gray;
  background-color: #fff;
}

.detail-container div {
  margin-bottom: 1em
}

.detail-container__title {
  font-size: 2em;
  font-weight: bold;
}

.detail-container__body {
  font-size: 1.5em;
}

.detail-container__author {
  font-size: 1.2em;
}